@model BY.Entity.Identity.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<div style="margin-top:100px">

    <h2>Oyuncu Detayı</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Adı")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayName("Soyadı")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>

            <dt>
                @Html.DisplayName("Oyun Sayısı")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Counter)
            </dd>

            <dt>
                @Html.DisplayName("Hesap Numarası")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNo)
            </dd>

            <dt>
                @Html.DisplayName("E-Mail")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayName("Telefon Numarası")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayName("Kullanıcı Adı")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Geri Dön", "Index")
    </p>
</div>