@model BY.Entity.Entity.Contest

@{
    ViewBag.Title = "Create";
}

<div style="margin-top:100px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>Yarışma Oluştur</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <h4>Yarışma Adı:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Yarışma Türü:</h4>
                <div class="col-md-10">

                    @Html.DropDownList("ConTypeId", new SelectList(ViewBag.gametype, "Id", "TypeName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Soru Sayısı:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuesCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuesCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Yarışma Seviyesi:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Level, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Yarışma Ücreti:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Yarışma Ödülü</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Yarışma Tarihi</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "01-01-2000 00:00 ", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Oluştur" class="btn site-btn" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Geri Dön", "Index")
    </div>
</div>